body{
    background-color: #F8F4F9;
    color: #011936;
}

.widget__section{
    width: 850px;
    margin: auto;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 25px;
}

.widget__inner--container{
    display: flex;
}

#checkbox{
    width: 60px;
    height: 45px;
}
p{
    text-emphasis-style:inherit;
}

/*highlight words */

.greaterThanFour{
    background-color: #F2B880;
}

.greaterThanFive{
    background-color: #c98686;
}

.longest{
    background-color: #966b9d;

}