body{
    background-color: #F8F4F9;
    color: #011936;
}

.widget__section{
    width: 850px;
    margin: auto;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 25px;
}

#checkbox{
    width: 30px;
    height: 30px;
}
p{
    text-emphasis-style:inherit;
}

/*highlight words */
/* greater than 4 */
.greaterThanFour{
    background-color: yellow;
}

.greaterThanFive{
    background-color: crimson;
}
/* greater than all */
.longest{
    background-color: aqua;
}